{{#each portfolio}}
  <div class="card box blue" id="{{this.id}}-card">
    <div class="card-body">
      <div class="card-header" style={{this.bgImage}}>
        <h4>
          <a href={{this.link}} target='_blank'>{{this.title}}</a>
        </h4>
        <h4>
          {{#if this.ghLink}}
            <a href={{this.ghLink}} target='_blank'><i class="devicon-github-plain"></i></a>
          {{/if}}
        </h4>
      </div>
    </div>
    <div class="card-copy">
      <p>{{this.desc}}</p>
    </div>
  </div>
{{/each}}
