{{#each portfolio}}
  <div class="card box" id="{{this.id}}-card">
    <div class="card-body"  style={{this.bgImage}}>
    </div>

    <div class="card-header">
      <h4>
        <a href={{this.link}} target='_blank'>{{this.title}}</a>

        {{#if this.ghLink}}
          <a class="devicon-github-plain icon-sm" href={{this.ghLink}} target='_blank'></a>
        {{/if}}
      </h4>
    </div>

    <div class="card-copy">
      <p>{{this.desc}}</p>
    </div>
  </div>
{{/each}}
